body {
    font-family: monospace, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: cyan;
    border: 1px solid cyan;
    height: 100vh;
    margin: 10px;
    padding-top: 100px;
}

h1 {
    font-family: "Sixtyfour", monospace;
    margin-bottom: 30px;
}


.divCalificaciones {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#pInstruccion{
    font-family: monospace;
    font-size: 15px;
}

input {
    padding: 20px;
    width: 100%;
    margin: 10px;
    border-color: cyan;
    background-color: black;
    color: cyan;
}

input::placeholder {
    font-family: monospace;
    color: cyan;
}

button {
    width: 341px;
    padding: 10px;
    margin: 10px;
    background-color: black;
    border-color: cyan;
    color: cyan;
    transition: 0.5s;
    font-family: monospace;
}

button:active {
    transform: scale(0.95);
    background-color: #ffffff;
    color: white;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    text-align: center;
}

li {
    margin-left: 20px;
    margin-right: 20px;
}

a {
    margin-top: 10px;
    color: green;
    transition: 0.3s;
    text-decoration: none;
}

.divResultados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divResultados,
a {
    color: cyan
}

p {
    width: 345px;
    text-align: center;
}

img {
    margin-top: 20px;
    width: 290px;
    margin-bottom: 20px;
}

#divPregunta,
div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divPregunta,
span {
    display: flex;
    align-items: center;
}

#divPregunta, h2 {
    font-size: 60px;
    font-family: "Sixtyfour";
}

.btnFlechas {
    width: 90px;
    height: 50px;
    margin: 0px;
    font-size: 25px;
    padding: 0;
}

#botonPregunta{
    padding: 15px;
    width: 180px;
}

#h1Resultado{
    font-size: 30px;
}

#imgResultado{
    width: 350px;
    margin: 0;
}