body {
    font-family: monospace, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: cyan;
    border: 1px solid skyblue;
    height: 100vh;
    margin: 10px;
}

h1 {
    margin-bottom: 0px;
    font-family: "Sixtyfour", monospace;
}


.divCalificaciones {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    padding: 20px;
    width: 100%;
    margin: 10px;
    border-color: cyan;
    background-color: black;
    color: cyan;
}

input::placeholder {
    font-family: monospace;
    color: cyan;
}

button {
    width: 341px;
    padding: 10px;
    margin: 10px;
    background-color: black;
    border-color: cyan;
    color: cyan;
    transition: 0.5s;
    font-family: monospace;
}

button:active {
    transform: scale(0.95);
    background-color: #ffffff;
    color: white;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    text-align: center;
}

li {
    margin-left: 20px;
    margin-right: 20px;
}

a {
    margin-top: 10px;
    color: green;
    transition: 0.3s;
    text-decoration: none;
}

.divResultados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divResultados, a{
    color: cyan
}

p {
    text-align: center;
}

img {
    margin-top: 20px;
    width: 350px;
    margin-bottom: 20px;
}